<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Brian</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="large text-muted"> Brian specializes in developing personalized training programs specific to each individual client. As an accomplished junior, amateur and professional competitor, he takes a unique approach to player development. Rather than focusing on technical flaws, Brian emphasize the importance of critical moments in the swing. His core teaching philosophy is fueled by a passion to help morph golfers into the best players and people they can be, incorporating bio-mechanics, fitness, physiology, and performance psychology into a holistic lesson plan.</p>
                    <p class="large text-muted"> Brian credits his success to his family, friends, and mentors such as Sean Foley (Elite Tour Instructor at Sean Foley Performance at EaglesDream), Steve Donnelly (PGA Director of Golf at Pine Hollow Country Club), Dave Pezzino (Uconn Mens Head Golf Coach),  Bill Mackedon (PGA Director of Golf at Port Jefferson Country Club and 2016 MET PGA Youth Development Award Winner), and Steve Keogh (Australian PGA Director of Instruction at Konnectgolf and David Leadbetter Certified Instructor).</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>